.searchwp-term {
  color: black;
}

.searchwp-term[highlight="term-1"] {
  background-color: #fbed73;
}

.searchwp-term[highlight="term-2"] {
  background-color: #ffb18c;
}

.searchwp-term[highlight="term-3"] {
  background-color: #ffd281;
}

.searchwp-term[highlight="term-4"] {
  background-color: #c3f991;
}

.searchwp-term[highlight="term-5"] {
  background-color: #e9b8ff;
}